<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>404</title>

    <style>
        div{
            text-align: center;
            margin-top: 50px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div>


    <!--//<img  src="https://imgsa.baidu.com/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=3593f3d9d8b44aed4d43b6b6d275ec64/2fdda3cc7cd98d10b262fca2233fb80e7aec90eb.jpg"/><br/>-->
    <img src="images/404.jpg"/>

</div>
<div>
    <span>这不是你想看的吧，检查您的输入哦
    </span>
</div>
</body>
</html>